*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{

background:linear-gradient(135deg,#1f2937,#111827);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
color:white;

}

.container{

width:100%;
max-width:600px;
text-align:center;

}

h1{
margin-bottom:20px;
}

.search-box{

display:flex;
gap:10px;
margin-bottom:20px;
flex-wrap:wrap;

}

input{

flex:1;
min-width:200px;
padding:12px;
border-radius:40px;
border:none;
outline:none;
font-size:16px;

}

button{

padding:12px 20px;
border:none;
border-radius:40px;
background:#3b82f6;
color:white;
font-size:16px;
cursor:pointer;

}

button:hover{
background:#2563eb;
}

#loading{
color:#9ca3af;
margin-bottom:10px;
}

#error{
color:#ef4444;
margin-bottom:10px;
}

.profile-card{

background:rgba(255,255,255,0.05);
padding:20px;
border-radius:15px;
/* backdrop-filter:blur(10px); */
box-shadow:0 20px 40px rgba(0,0,0,0.4);
margin-top:20px;

}

.profile-card img{

width:120px;
border-radius:50%;
margin-bottom:10px;

}

.profile-card p{
margin:6px 0;
}

.profile-card a{
color:#60a5fa;
text-decoration:none;
}

.repo{

background:#1f2937;
padding:12px;
margin-top:10px;
border-radius:10px;
text-align:left;

}

.repo a{

color:#3b82f6;
text-decoration:none;
font-weight:600;

}



@media (max-width:600px){

h1{
font-size:22px;
}

.profile-card img{
width:90px;
}

button{
width:100%;
}

}